# VS
.vs/
x64/
x86/
Debug/
Release/
ipch/
*.vcxproj.user
*.sln.user
*.suo
*.sdf
*.opensdf
*.slnx

# Qt
build-*/
*.pro.user
*.qmake.stash
Makefile
Makefile.Debug
Makefile.Release

# 编译产物
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.log
*.obj
